block config
  include ../config/_config
include ../mixins/_mixin

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= `${pageTitle} - ${siteTitle} `
    link(rel="stylesheet", href="css/style.css", attr)
  body
    header.header
      .main-container.flex-container
        .logo
          a(href="index.html").logo__link enREDados
        nav.nav
          include ../blocks/_menu
    
    .banner
      .banner__content
        h1.banner__title Este es un banner
        p.banner__subtitle Este es un Subtititle
        +buttonCta("CTA")

    aside 
    main.main
    footer.footer