block config
  include ../config/_config
include ../mixins/_mixin

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= `${pageTitle} - ${siteTitle} `
    link(rel="stylesheet", href="css/style.css", attr)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

  body
    header.header
      .main-container.flex-container
        .logo
          a(href="index.html").logo__link enREDados
        nav.nav
        .nav__bar 
          <i class="fas fa-bars"></i>
        include ../blocks/_menu
    
    .banner
      .banner__content
        h1.banner__title Este es un banner
        p.banner__subtitle Este es un Subtititle
        +buttonCta("CTA")

    aside 
    main.main
    footer.footer