.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);

  svg {
    fill: var(--first-color);
  }
}

.menu {
  &__item {
  }
  &__link {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--first-color);

    &:hover {
      color: var(--white-color);
      background-color: var(--first-color);
    }
  }
}
